.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza verticalmente */
    min-height: 80vh; /* Altura mínima para garantir centralização vertical */
    padding: 20px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-container input,
  .form-container select,
  .form-container button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que o padding seja incluído no tamanho total */
  }
  
  .form-container button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-bottom: 20px;
  }
  
  .success-message {
    color: green;
    margin-bottom: 20px;
  }
  